/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Experience Section
   e. Education Section
   f. Portfolio Section
   g. more Section
   h. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #5a7eb8; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #5a7eb8 url(../images/header_background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

/* vertically center banner section */
header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;s
    text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
    font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #e4eeff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
    font: 18px/1.9em 'librebaskerville-regular', serif;
    color: #FFCB6C;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
    color: #FFF9E2;
}

header .banner-text h3 a:hover {
   color: #833746;
}

header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #FFF9E2;
    border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}
header .social li a { color: #e4eeff; }
header .social li a:hover { color: #5a7eb8; }

/* scrolldown link */
header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #e4eeff;
    border-radius: 100%;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
header .scrolldown a:hover {
    color: #5374AD;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
/* This part is navigator menu settings! */
#nav-wrap {
    font: 14px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase; /* ABOUT */
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
.opaque {
    background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
    min-height: 48px;
    width: auto;

    /* center align the menu */
    text-align: center;
}
ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #e4eeff;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #5a7eb8; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
    background: #5475ab;
    padding-top: 96px;
    padding-bottom: 60px; /* 66px */
    overflow: hidden;
    /* Do Not adjust Height here! */
    font-family: 'MuseoSlab500', sans-serif;
    color: #b0c1de;
}

#about .emp {
    color:  #253b5e;
    font: normal;
}

#about a, #about a:visited  {
    color: #253b5e;
    border-bottom: 1px dashed #fff;
}

#about a:hover, #about a:focus {
    color: #DB8B00;
    border-bottom: none;
}

#about h2 {
    color: #253b5e;
    font: 30px/35px 'opensans', sans-serif;
    margin-bottom: 12px;
}
#about p {
    font-size: 18px;
    line-height: 30px;
}
#about .profile-pic {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border:6px solid #5a7eb8;
}
#about .latest-news {
    width: 65%;
    font-size: 16px;
}

#about .latest-news ul {
    list-style-type: disc;
    padding-left: 20px;
}

#about .latest-news ul li {
    line-height: 22px;
}

#about .download {
    width: 35%;
    padding-top: 6px;

}
#about .main-col {
    padding-right: 0%;
}

#about .download .button {
    margin-top: 6px;
    color: #b0c1de;
    background: #253b5e;
    border-bottom: none;
}
#about .download .button:hover {
    background: #103b5e;
    color: #b0c1de;
}
#about .download .button i {
    margin-right: 10px;
    font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Experience Section
/* ------------------------------------------------------------------ */

#experience {
    background: #253b5e;
    padding-top: 70px;
    padding-bottom: 60px; /* changed from 72px */
    overflow: hidden;

}

#experience h1 {
    color: #b0c1de;
    font: 36px/30px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#experience h1 span {
    border-bottom: 3px solid #5374AD;
    padding-bottom: 6px;
}

#experience h3 {
    color: #e4eeff;
    font: 25px/30px 'opensans-bold', sans-serif;
    margin-bottom: 0px;

}

#experience .bv-pic {
    background-color: #e4eeff;
    width: 160px;
    padding-top: 5px;
}

#experience .cs-pic {
    background-color: #e4eeff;
    width: 160px;
    padding-top: 5px;
}

#experience .logo-pic {
    
    padding-top: 20px;
}

#experience .hms-pic {
    background-color: #e4eeff;
    width: 160px;
    padding-top: 5px;
}

#experience .bio-pic {
    background-color: #e4eeff;
    width: 160px;
    padding-top: 5px;
}

#experience .yu-pic {
    background-color: #e4eeff;
    width: 160px;
    padding-top: 5px;
}

#experience .hps-pic {
    background-color: #e4eeff;
    width: 160px;
    padding-top: 5px;
}

#experience .header-col {
    padding-top: 9px;
    padding-bottom: 45px;
    text-align: center;
}

#experience .main-col {
    padding-top: 9px;
    padding-right: 10%;
}

#experience .work {
    margin-bottom: 0px;
}

#experience .info {
    font: 18px/24px 'opensans-semibold-italic', serif;
    color: #5a7eb8;
    margin-bottom: 7px;
    margin-top: 3px;
}

#experience .info span {
    margin-right: 5px;
    margin-left: 5px;
}

#experience ul {
    list-style-type: disc;
    color: #b0c1de;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 7px;
}

#experience ul li {
    margin-bottom: 5px;
}

#experience a, #experience a:visited  {
    color: #e4eeff;
}

#experience a:hover, #experience a:focus {
    color: #003691;
}

#experience .date {
    font: 18px/24px 'opensans-semibold-regular', sans-serif;
    /* margin-top: 6px; */
}



/* ------------------------------------------------------------------ */
/* e. Education Section
/* ------------------------------------------------------------------ */

#education {
    background: #5475ab;
    padding-top: 70px;
    padding-bottom: 72px;
    overflow: hidden;
}

#education h1 {
    color: #253b5e;
    font: 36px/30px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

}
#education h1 span {
    border-bottom: 3px solid #FFCB00;
    padding-bottom: 6px;
}

#education h3 {
    font: 23px/30px 'opensans-bold', sans-serif;
    color: #e4eeff;
    margin-bottom: 5px;
}

#education .header-col {
    padding-top: 9px;
    padding-bottom: 45px;
    text-align: center;
}

#education .main-col {
    padding-top: 9px;
    padding-right: 10%;
}

#education .uiuc-pic {
    width: 190px;
    height: 190px;
}

#education .rdfz-pic {
    width: 160px;
    height: 160px;
    border-radius: 40%
}

.education, .work {
    margin-bottom: 10px;
    padding-bottom: 24px;

}

#education .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #253b5e;
    margin-bottom: 5px;
    margin-top: 5px;

}

#education .info span {
    margin-right: 5px;
    margin-left: 5px;
}

#education ul {
    list-style-type: disc;
    color: #b0c1de;
    padding-left: 18px;
    margin-bottom: 0px;
    margin-top: 7px;
}

#education ul li {
    margin-bottom: 5px;
    color: ##b0c1de;
}


#education ul li span {
    float: right;
    font-weight: bold;
}

#education a, #education a:visited  {
    color: #FFE16D;
}

#education a:hover, #education a:focus {
    color: #FFCB6D;
}


#education .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
}

/* ------------------------------------------------------------------
/* g. more
/* ------------------------------------------------------------------ */

#more {
    background: #5475ab;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
}

#more .text-container {
    padding-top: 70px;
    padding-bottom: 66px;
}

#more h1 {
    font: 28px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFA400;
}
#more h1 span {
    border-bottom: 3px solid #FFCB00;
    padding-bottom: 6px;
}

#more .header-col {
    padding-top: 9px;
    padding-bottom: 45px;
    text-align: center;
}

#more .button{
    margin-top: 6px;
    color: #e4eeff;
    background: #253b5e;
    border-bottom: none;
}
#more .download .button:hover {
    background: #103b5e;
    color: #b0c1de;
}
#more .download .button i {
    margin-right: 10px;
    font-size: 20px;
}

#more a:hover, #education a:focus {
    color: #f1c40f;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
    background: #253b5e;
    padding-top: 48px;
    margin-bottom: 48px;
    color: #b0c1de;
    font-size: 14px;
    text-align: center;
    position: relative;
}

footer h3 {
    color: #e4eeff;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
    display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;
}
#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #253b5e;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #e4eeff;
    font-size: 21px;
    line-height: 60px;
    border-radius: 100%;
}
#go-top a:hover { background-color: #5475ab; }
